<div class="Project">
    <h2><a href="#Project">Proyectos destacados</a></h2>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/tienda_onli_php_poo_mvc">
                <img src="asset/img/tiendaOnline.png" alt="tiendaOnline">
                <h3>Tienda online</h3>
                <p>Uso de CSS, HTML, PHP (POO y MVC) y SQL</p>        
            </a>
        </li>
        
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/proyecto_JS_jQuery">
                <img src="asset/img/js_jquery.png" alt="js y jQuery">
                <h3>Pagina con JS y jQuery</h3>
                <p>Uso de CSS, HTML, JS y libreria jQuery</p>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/proA7">
                <img src="asset/img/rastreador.png" alt="rastreador">
                <h3>Rastreador de bicicleta con dispositivo</h3>
                <p>Uso de CSS, HTML, JS, PHP, JSON, Mapbox y SQL</p>
            </a>
        </li>
    </ul>
    <br>
    <br>    
    <p>Más proyectos próximamente ...</p>
</div>