<div class="Contact">
    <h2><a href="#Contact">Contacta conmigo</a></h2>
    <nav>
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/roger-rys/"><img src="asset/img/linkedIn.png" alt="linkedin"><br>/roger-rys</a></li>
            <li><a target="_blank" href="https://github.com/Roger-Rys"><img src="asset/img/github.png" alt="GitHub"><br>/Roger-Rys</a></li>
            <li><a href=""><img src="asset/img/gmail.png" alt="Gmail"><br>roger.reyesm97</a></li>
            <li><a target="_blank" href="https://twitter.com/Roger_Ryes"><img src="asset/img/twitter.png" alt="Twitter"><br>/Roger_Ryes</a></li>
        </ul>
    </nav>
    <h6></h6>
</div>