<h1>ROGER RYS PORTFOLIO</h1>

<div class="Intro">
    <h2><a href="#Intro">Desarrollador Web Full-Stack</a></h2>
    <h6>Junior</h6>
    <p>Cumpliendo objetivos mutuos</p>
</div>


<div class="AboutMe">
    <div class="infoAboutMe">
        <h2><a href="#AboutMe">Acerca de mi</a></h2>
        <p>Hola!!! Me llamo Roger Reyes y soy un desarrollador web fullstack junior, en constante aprendizaje y con el deseo de desarrollar grandes proyectos 
            para solucionar problemas.</p>
        <br>
        <p>Dispuesto a trabajar en grupo para lograr objetivos mutuos.</p>
        <br>
        <p>Tambien, llevo algunos años programando pero ultimamente me he dedicado al mundo del desarrollo web.</p>
        <img src="asset/img/perfil.png">
    </div>  
    
    <div class="skill">
        <h2><a href="#AboutMe">Habilidades</a></h2>
        <h3>Lenguajes de Marcado</h3>
        <ul>
            <li>CSS Grid / Flex</li>
            <li>HTML</li>
        </ul>        
        <h3>Lenguajes de programacion</h3>
        <ul>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Python</li>
            <li>C#</li>
        </ul>
        <h3>Base de datos</h3>
        <ul>
            <li>SQL / MySQL</li>
            <li>Mongoos</li>
        </ul>
        <h3>Librerias</h3>
        <ul>
            <li>Bootstrap</li>
            <li>jQuery</li>
        </ul>
        <h3>Framework</h3>
        <ul>
            <li>node JS</li>
            <li>Express</li>
            <li>Laravel</li>
            <li>Angular</li>
        </ul>        
    </div>  
    
</div>


<div class="Contact">
    <h2><a href="#Contact">Contacta conmigo</a></h2>
    <nav>
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/roger-rys/"><img src="asset/img/linkedIn.png" alt="linkedin"><br>/roger-rys</a></li>
            <li><a target="_blank" href="https://github.com/Roger-Rys"><img src="asset/img/github.png" alt="GitHub"><br>/Roger-Rys</a></li>
            <li><a href=""><img src="asset/img/gmail.png" alt="Gmail"><br>roger.reyesm97</a></li>
            <li><a target="_blank" href="https://twitter.com/Roger_Ryes"><img src="asset/img/twitter.png" alt="Twitter"><br>/Roger_Ryes</a></li>
        </ul>
    </nav>
    <h6></h6>
</div>


<div class="Project">
    <h2><a href="#Project">Proyectos destacados</a></h2>
    <ul>
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/tienda_onli_php_poo_mvc">
                <img src="asset/img/tiendaOnline.png" alt="tiendaOnline">
                <h3>Tienda online</h3>
                <p>Uso de CSS, HTML, PHP (POO y MVC) y SQL</p>        
            </a>
        </li>
        
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/proyecto_JS_jQuery">
                <img src="asset/img/js_jquery.png" alt="js y jQuery">
                <h3>Pagina con JS y jQuery</h3>
                <p>Uso de CSS, HTML, JS y libreria jQuery</p>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/Roger-Rys/proA7">
                <img src="asset/img/rastreador.png" alt="rastreador">
                <h3>Rastreador de bicicleta con dispositivo</h3>
                <p>Uso de CSS, HTML, JS, PHP, JSON, Mapbox y SQL</p>
            </a>
        </li>
    </ul>
    <br>
    <br>    
    <p>Más proyectos próximamente ...</p>
</div>

