<div class="AboutMe">
    <div class="infoAboutMe">
        <h2><a href="#AboutMe">Acerca de mi</a></h2>
        <p>Hola!!! Me llamo Roger Reyes y soy un desarrollador web fullstack junior, en constante aprendizaje y con el deseo de desarrollar grandes proyectos 
            para solucionar problemas.</p>
        <br>
        <p>Dispuesto a trabajar en grupo para lograr objetivos mutuos.</p>
        <br>
        <p>Tambien, llevo algunos años programando pero ultimamente me he dedicado al mundo del desarrollo web.</p>
        <img src="asset/img/perfil.png">
    </div>  
    
    <div class="skill">
        <h2><a href="#AboutMe">Habilidades</a></h2>
        <h3>Lenguajes de Marcado</h3>
        <ul>
            <li>CSS Grid / Flex</li>
            <li>HTML</li>
        </ul>        
        <h3>Lenguajes de programacion</h3>
        <ul>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Python</li>
            <li>C#</li>
        </ul>
        <h3>Base de datos</h3>
        <ul>
            <li>SQL / MySQL</li>
            <li>Mongoos</li>
        </ul>
        <h3>Librerias</h3>
        <ul>
            <li>Bootstrap</li>
            <li>jQuery</li>
        </ul>
        <h3>Framework</h3>
        <ul>
            <li>node JS</li>
            <li>Express</li>
            <li>Laravel</li>
            <li>Angular</li>
        </ul>        
    </div>  
    
</div>