<div class="AboutMe">
    <div class="infoAboutMe">
        <h2><a href="#AboutMe">Acerca de mi</a></h2>
        <p>{{aboutMeParagraph}}</p>
        <img src="asset/img/perfil.png">
    </div>  
    
    <div class="skill">
        <h2><a href="#AboutMe">Habilidades</a></h2>
        <div *ngFor="let item of abilities; let i=index">
            <h3>{{item.title}}</h3>
            <ul *ngFor="let ski of item.skills">
                <li>{{ski}}</li>
            </ul> 
        </div>
    </div>  
    
</div>