/* You can add global styles to this file, and also import other style files */
html, body{
    background-color: var( --surface-ground );
    font-family: var( --font-family );
    color: var(--text-color);
}
