/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: var(--surface-ground);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: normal;

}

h1 {
    color: var(--primary-color);
    padding: var(--content-padding);
    text-align: center;
}

h2 {
    color: var(--primary-color);
    padding: var(--content-padding);
    text-align: left;
}

h2 a {
    color: var(--primary-color);
    padding: var(--content-padding);
    text-align: left;
    text-decoration: none;
}

p {
    color: var(--text-color);
    padding: var(--content-padding);
}